# Prerequisites
*.d

# Compiled Output folders
Debug/
Release/
*_debug/
*_release/
__pycache__/
build/

#Workbench
settings/
.settings/
*.dep
*.ewt
multicore_setup.xml

#editor
.vscode/

#agent
.agent/
.claude/
CLAUDE.md

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
!GFLIB.a
!MLIB.a
*.lib

# Executables
*.exe
*.out
*.app

# pyinstaller
*.spec
dist/

# NXP configure tools
*.bak
